:root:root {
  --fansy-box-shadow-color-lighter: rgba(0, 0, 0, 0.1);
  --fansy-main-bg-color: var(--el-fill-color-blank);

  --el-color-primary: #2ad5c3;
  --el-menu-item-bg-color: var(--el-color-primary-light-9);
  --el-menu-active-color: var(--el-color-primary);
}
