@use './nprogress.scss';
@use './transition.scss';
@use './element-ui.scss';
@use './element/index.scss';
@use './element/dark.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--el-bg-color-page);

  color-scheme: light dark;
  color: var(--el-text-color-primary);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  font-feature-settings: 'tnum';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  overflow: hidden;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

html.dark::view-transition-old(root) {
  z-index: 2147483646;
}

html.dark::view-transition-new(root) {
  z-index: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
  color: var(--el-text-color-placeholder);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--el-fill-color-blank);
}
::-webkit-scrollbar-track-piece {
  width: 6px;
  background-color: var(--el-fill-color-blank);
}
::-webkit-scrollbar-corner {
  background-color: var(--el-fill-color-blank);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--el-text-color-disabled);
}

canvas,
svg {
  vertical-align: top;
  outline: none;
}

// 去除 dropdown-menu 聚焦边框样式
:focus,
:hover {
  outline: none;
  // box-shadow: none;
}

#app {
  width: 100%;
}

.scrollbar-hide {
  ::-webkit-scrollbar {
    display: none;
  }
  .el-scrollbar__bar {
    display: none;
  }
}

.fansy-detail-container {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: var(--el-main-padding);
  overflow-x: hidden;
  overflow-y: auto;
}

.route-loading .el-loading-spinner .circular {
  animation: none;
  color: var(--el-color-primary);
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }
}

/* 为每个小方块设置动画 */
.route-loading-path,
.route-loading-path2,
.route-loading-path3,
.route-loading-path4 {
  animation: blink 1.6s infinite;
  /* 动画总时长1.6秒，无限循环 */
}

/* 设置不同的动画延迟 */
.route-loading-path1 {
  animation-delay: 0s;
}

.route-loading-path2 {
  animation-delay: 0.4s;
}

.route-loading-path3 {
  animation-delay: 0.8s;
}

.route-loading-path4 {
  animation-delay: 1.2s;
}
